<header>
    <img 
        src="assets/img/Evso.jpg"
        alt="Everson Faria - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />

    <h1>Everson Faria</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Javascript | Angular | Bootstrap | React | C#</p>
        <p>Nova Iguaçu, Rio de Janeiro, Brasil<br>
           Guarulhos, São Paulo, Brasil </p>
        <p>Sou um entusiasta da programação em busca de desafios e oportunidades para contribuir com meu conhecimento e crescer profissionalmente como desenvolvedor web. </p>
        
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/curriculoEversonFaria.pdf" target="_blank" class="btn btn-primary"> Download Curriculo</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/everson-faria/" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="Contato whatsapp"
                    width="40px"
                    heigth="22px"
                />

                <figcaption>
                    <a href="https://wa.me/5521970948686">
                      <strong>Envie uma mensagem para: </strong>  
                      <p>whatsapp: (21) 9 7094-8686</p>
                    </a>
                </figcaption>
            </figure> 

            <figure>
                <img 
                    src="assets/icons/mail.svg"
                    alt="Mail"
                    width="40px"
                    heigth="22px"
                />

                <figcaption>
                    <a href="mailto:contatoevso@gmail.com" target="_blank">
                      <strong>Envie um e-mail para: </strong>  
                      <p>contatoevso&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure> 
        </section>
    </div>
</aside>